.search-bar {
  padding: 2rem;
  background-color: #999;
  width: 100%;
}
.search-bar input[type="text"] {
  width: 80%;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.search-bar input[type="text"]:focus {
  border: 1px solid rgb(28, 58, 148);
}
