.message-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.message-card:hover {
  background-color: rgb(73, 125, 189);
  color: #fff;
}

.message-card-img {
}

.message-card-img img {
  border-radius: 50%;
  border: 2px solid rgb(73, 125, 189);
}

.message-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.message-card-text h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

.message-card p {
  font-size: 1.2rem;
}
